/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


html {
    height: 100%;
}
body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    background: #cad4d4;
    height: 100%;
}

.basic-container {
    padding: 30px;
}

.version-info {
    font-size: 8pt;
    float: right;
}
