<div id="row-container" class="row">
    <div class="col-md-6" style="border-right:1px solid #BEBEBE">
        <p class="column-msg">Copy/Paste Control Parameters Below</p>
        <div class="jumbotron column-container">
            <textarea #textAreaInput id="text-area-input" class="form-control" autofocus></textarea>
        </div>
        <div id="input-button-group">
            <button class="btn btn-primary" id="generate-btn" (click)="textAreaUpdate(textAreaInput.value)">Generate</button>
        </div>
    </div>
    <div class="col-md-6">
        <p class="column-msg">Number of Parameters Found: {{ numOfResults }}</p>
        <div class="jumbotron column-container center">
            <table id="results-table" class="table table-striped" *ngIf="results.length > 0">
                <th width="5%">
                    Select
                </th>
                <th>
                    Parameter
                </th>
                <th>
                    User
                </th>
                <tr *ngFor="let parameter of results; let i = index">
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        {{ results[i] }}
                    </td>
                    <td>
                        N/A
                    </td>
                </tr>
            </table>
            <p *ngIf="results.length == 0" class="no-results-msg">No results found.</p>
        </div>
    </div>
</div>
