@import '~bootstrap/dist/css/bootstrap.css';

#row-container {
    margin-top:50px;
}

.column-msg {
    margin-left:30px;
}

.no-results-msg {
    font-weight:bold;
    margin-top:20%;
}

.center {
    text-align: center;
}

.column-container {
    margin:auto;
    padding:10px;
    width:90%;
    height:300px;
}

#text-area-input {
    height:100%;
}

#input-button-group {
    text-align:right;
    margin-top:20px;
    margin-right:35px;
}

#generate-btn {
    margin-left:15px;
}

#results-table th {
    background-color:#4a8bc2;
    color:white;
}

.btn-primary {
    color: #fff;
    background-color: #4a8bc2;
    border-color: #4a8bc2;
}

.btn-primary:hover {
    color: #fff;
    background-color: #2e59d9;
    border-color: #2653d4;
}
